@import "tailwindcss";

li {
    list-style: none;
}

@keyframes ripple-animation {
  to {
    transform: scale(3);
    opacity: 0;
  }
}

@keyframes slideIn {
    0% {
        opacity: .5;
        transform: translateY(-10%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
    border-top: 4px dashed;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}