.header-container {
    height: 70px;
    background-color: #f44336;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .3);
    border: none;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    margin: 0 auto;
    z-index: 2;
}

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

.header-branch {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 15px;
    display: flex;
    align-items: center;
    line-height: 40px;
}

.header-branch img {
    width: 32px;
    height: 32px;
}

.right-header {
    display: flex;
    align-items: center;
}

.switch-language {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.switch-language a i {
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
}

.dropdown a {
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.js-right-sidebar {
    color: #fff;
    padding: 7px 7px 2px;
    margin: 17px 5px 0 0;
    cursor: pointer;
}